[Unit]
Description=New Relic Linux Server Monitor (nrsysmond)
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=10m
ExecStartPre=-/usr/bin/docker kill nrsysmond
ExecStartPre=-/usr/bin/docker rm nrsysmond
ExecStartPre=/usr/bin/docker pull newrelic/nrsysmond:latest
ExecStart=/usr/bin/docker run --name nrsysmond --pid=host -v /sys:/sys -v /dev:/dev --privileged=true --net=host -v /var/run/docker.sock:/var/run/docker.sock -e NRSYSMOND_license_key="ENTER_YOUR_LICENSE_KEY_HERE" -e NRSYSMOND_collector_host=collector.newrelic.com -e NRSYSMOND_loglevel=info -e NRSYSMOND_hostname=%H newrelic/nrsysmond:latest
ExecStop=/usr/bin/docker stop -t 30 nrsysmond

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
